@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.apply-gradient {
  background: radial-gradient(circle farthest-side at 50% 100%, rgba(147, 51, 234, 0.6),
      rgba(126, 34, 206, 0.4) 36%,
      rgba(107, 33, 168, 0.2) 55%,
      rgba(88, 28, 135, 0));
  background-attachment: fixed;
}


a {
  color: inherit;
  text-decoration: none;
}

th {
  text-align: right;
}

* {
  box-sizing: border-box;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

.content-center {
  text-align: center;
}